@import "../../styles/vars.scss";

.enter {
  opacity: 0;
  transition: opacity .3s;
}
.enter.enterActive {
  opacity: 1;
}
.leave {
  opacity: 1;
  transition: opacity .3s;
}
.leave.leaveActive {
  opacity: 0;
}
.mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $mask-z-index;
  background: rgba(0, 0, 0, .4);
}