@import "../../styles/vars.scss";

.wrap {
  width: 75%;
  margin: 5.5em auto 3em;
  padding: 1em 0 2.5em;
  border-radius: .2em;
  box-shadow: 0 .05em .25em rgba(0, 0, 0, .5);
  font-size: $font-size-base;
  background: $white;
  @media screen and (max-width: $small-page-max-width) {
    padding: .5em 0 2em;
  }
}